<!-- todo 
1. 화면 로딩시 정보 리로드 (o)
2. 화면 로딩 아이콘
3. 참가햇을시 방내부에서 출력이 되지 않음. 
-->

<ion-content>
  <ion-navbar [color]="isAndroid ? 'danger' : 'primary'">
          <ion-searchbar  showCancelButton placeholder="어디로 가시나요?" ></ion-searchbar>
  </ion-navbar>    
  <ion-list>
  <ion-item *ngFor="let item of items let index = index">
    <h3 > {{item.start}}  →  {{item.arrive}}</h3>
    <p>{{item.date}} {{item.time}}</p>
    <button medium class="btn-pad-end"  item-right color="danger"(click)="post_id=item.post_id"  (click)="check_me()"  *ngIf="post_counts[index]==item.population">모집완료</button>
    <button medium class="btn-pad-end"  item-right color="danger" *ngIf="post_check[index]==1">모집완료d</button>
  
    <button class="btn-pad" item-right *ngIf="post_counts[index]<item.population" (click)="post_id=item.post_id" (click)="start=item.start" (click)="arrive=item.arrive"
    (click)="date=item.date" (click)="time=item.time" (click)="participate()">참여하기<br>{{post_counts[index]}}/{{item.population}}</button>
  </ion-item>
  </ion-list> 
</ion-content>
