<ion-header>
  <ion-navbar>
    <ion-title>inner-room</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page" >
<ion-card>

  <ion-card>
    <img src="assets/img/taxi.png"/>
    <div class="card-title1">{{start}}</div>
    <div class="card-title2">→</div>
    <div class="card-title3">{{arrive}}</div>
    <div class="card-subtitle">{{date}} {{time}}</div>
  </ion-card>

  <ion-item *ngFor="let a of fakeArray; let index = index">
   <ion-icon name="call" ios="ios-call-outline" md="ios-call-outline" item-right large></ion-icon>
    <ion-icon name="mail" ios="ios-mail-outline" md="ios-mail-outline" item-right large></ion-icon>
    <h2>{{items[index+1].name}}</h2>
    <p>{{items[index+1].cellphone}}</p>
  </ion-item>
  
  <ion-item>
    <ion-note item-left>* 맨 위 사람이 택시를 불러주세요</ion-note>
    <button (click)="delete()"  ion-button color="danger" icon-left clear item-right>
      <ion-icon name="exit"></ion-icon>
      나가기
    </button>
  </ion-item>

</ion-card>

<ion-footer>
  <ion-toolbar>
    <ion-row>
        <ion-textarea autosize type="text" [(ngModel)]="inputMessage" rows="1" placeholder="댓글을 입력하세요"></ion-textarea>
         <button  *ngIf="inputMessage !=''" ion-button small (click)="send()"> 전송 </button>
    </ion-row>
  </ion-toolbar>
</ion-footer>

</ion-content>
